<?xml version="1.0"?>
<plugin>
    <!-- SQL METHOD -->
    <extension point="org.datanucleus.store.rdbms.sql_method">
        <sql-method method="Long.valueOf"
            evaluator="mydomain.datanucleus.LongValueOfMethod"/>
    </extension>

    <!-- IN-MEMORY EVALUATOR -->
    <extension point="org.datanucleus.query_method_evaluators">
        <query-method-evaluator method="Long.valueOf"
            evaluator="mydomain.datanucleus.LongValueOfInMemoryEvaluator"/>
    </extension>
</plugin>
